.root
{
    /*code for later */
}

.login-left-pane
{
   -fx-background-color: #320064; 
}

.login-right-pane
{
    -fx-background-color: white;
}

.login-right-pane > .text-field
{
    -fx-background-radius: 10px;
}

.login-right-pane > .button
{
   -fx-background-color: #320064;
   -fx-text-fill: white;
   -fx-background-radius: 10px;
}